body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: lightblue;
  padding: 30px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

main {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

input[type="submit"] {
  margin-top: 20px;
  width: 110px;
  padding: 14px;
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

input[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.home {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  color: lightblue;
  font-weight: bold;
  text-decoration: none;
}

footer {
  background-color: lightgray;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 14px;
}
